* { 
	margin: 0; 
	padding: 0; 
}

body {
	background-color: #CCCCCC;
	text-align: center
}

input[type="search"] {
	border: 2px solid #683086;
	width: 40%;
	height: 32px;
	font-size: 20px;
	text-align: left;
}

.button {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 20px;
	background: #683086;
	border: none;
	width: 40%;
	padding: 6px 150px 6px 150px;
	text-decoration: none;
}

.inner-wrap {
	margin-top: 5px;
}

.wrapper {
	position: fixed;
	top: 40%;
	left: 50%;
	width: 1000px;
	transform: translate(-50%, -50%);
}

.header {
	font-size: 35px;
}

.alert{
	color: #FFF;
	font-size: 18px;
	background-color: purple;
	padding-top: 5px;
}