* { 
	margin: 0; 
	overflow: auto;
}

a {
	text-decoration: none;
}

body {
	background-color: #CCCCCC;
	text-align: center;
	overflow: hidden;
}

input[type="search"] {
	border: 2px solid #683086;
	width: 60%;
	height: 32px;
	font-size: 20px;
	text-align: left;
}

.button {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 20px;
	background: #683086;
	border: none;
	width: 40%;
	padding: 6px 150px 6px 150px;
	text-decoration: none;
}

.third-button{
	font-family: Arial;
	color: #FFFFFF;
	background: #683086;
	border: none;
	font-size: 20px;
	width: 20%;
	padding: 6px 0 6px 0;*/
	text-decoration: none;
}

.fb-third-button{
	font-family: Arial;
	color: #FFFFFF;
	background: #2980B9;
	border: none;
	font-size: 20px;
	width: 20%;
	padding: 6px 0 6px 0;*/
	text-decoration: none;
}

.inner-wrap {
	margin-top: 5px;
}

.wrapper {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 1000px;
	overflow: auto;
	transform: translate(-50%, -50%);
	margin-bottom: 30px;
}

.header {
	font-size: 35px;
	padding-top: 20%;
}

.alert{
	color: #FFF;
	font-size: 18px;
	background-color: purple;
	padding-top: 5px;
}

.top-bar{
	color: #FFF;
	font-size: 18px;
	background-color: purple;
	padding-top: 10px;
}

.word-cloud-wrap{
	padding-top: 20px;
	width: 1000px;
	height: 500px;
	background-color: #FFFFFF;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	overflow: auto;
	line-height: 20px;
}

.lyric-page-wrap{
	min-width: 1000px;
	min-height: 500px;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.song-lyrics{
	margin: 20px 35px 30px 35px;
	padding-bottom: 20px;
	overflow: hidden;
	text-align: left;
	max-height: 500px;
	max-width: 1000px;
}

.lyrics{
	overflow: auto;
	width: 100%;
	height: 100%;
	max-height: 500px;
	max-width: 1000px;
}

.lyrics span{
    background-color:#FF9;
    color:#555;
}

.nav-manager{
	margin-top: 40px;
}

.wc_form{
	margin-top: 40px;
}

#searched-word {
	color: red; 
	font-size: 24px;
	font-family: Helvetica, Arial;
	top: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}




.ui-helper-hidden-accessible {
	display: none;
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  min-height: 50px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all:hover {
  color: #333333;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all:active {
  color: #333333;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-autocomplete {
  vertical-align: middle;
}

.ui-autocomplete .ui-menu-item {
  vertical-align: middle;
  border-bottom: 1px solid #eeeeee;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-icon {
  vertical-align: middle;
  padding-left: 1em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-icon i {
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  vertical-align: bottom;
  color: #27ae60;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-artist {
  font-weight: bold;
  font-size: 1.2em;
  height: 55px;
  line-height: 55px;
  padding-left: 0.6em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-album-name {
  font-size: 1.2em;
  height: 55px;
  line-height: 55px;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-divider {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-divider i {
  font-size: 0.7em;
}
